* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity: 50%;
    padding: 200px;
}

#user-icon {
    width: 20px;
}

#om-mig {
    display: flex;
    align-items: center;
    border-right: 1.7px black solid;
}