* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #edefec;
}

nav {
    padding: 20px;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-buttons > button {
    background-color: transparent;
    border: none;
}

.nav-buttons > button:hover {
    cursor: pointer;
    color: white;
}